body {
    font-family: 'Roboto', sans-serif;
    background-color: #62d1ea;
}

header {
    background-color: #e6ea95 !important;
}

.card {
    transition: transform 0.3s;
    margin-bottom: 20px;
}

.card:hover {
    transform: translateY(-5px);
}

.card-img-top {
    height: 200px;
    object-fit: contain;
    padding: 10px;
}

.btn-primary {
    background-color: #823380;
    border-color: #2f6baa;
}

.btn-success {
    background-color: #e24ba1;
    border-color: #28A745;
}

#cartItems {
    max-height: 400px;
    overflow-y: auto;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.cart-item img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

@media (max-width: 768px) {
    .card {
        margin-bottom: 15px;
    }
}
.banner img {
  height: 700px;
  object-fit: cover;
}




